.reveal section img {
    margin: 0;
    background: transparent;
    border: 0px;
    box-shadow: none;
    margin-bottom:20px;
}

html.bg-img .slide-background {
	opacity: 0.4 !important;
}

html.tg-img .slide-background {
	opacity: 0.4 !important;
}
